
<div class="footer">
    <p>© 2025 Lucy Back</p>
    <div class = "filler"></div>
    <a href="https://bsky.app/profile/ossce.bsky.social">
        <img src="/assets/images/icons/bluesky-logo.png" height = "30px">
    </a>
    <a href="https://www.linkedin.com/company/ossce/">
        <img src="/assets/images/icons/InBug-Black.png" height = "30px">
    </a>
    <a href="https://www.facebook.com/profile.php?id=61577961763695">
        <img src="/assets/images/icons/Facebook_Logo_Secondary.png" height = "30px">
    </a>
    <a href="https://www.instagram.com/oxscicom/">
        <img src="/assets/images/icons/Instagram_Glyph_Black.svg" height = "30px">
    </a>
    <a href="mailto:ossce.social@proton.me">
        <img src="/assets/images/icons/email.png" height = "30px">
    </a>
</div>